openapi: 3.0.1
info:
  title: Unofficial Netflix Search
  description: The Next Generation Unofficial Netflix Online Global Search allows anyone to search the global Netflix catalog. Search by title or people, retrieve genres, and get more details about each title.
  version: '1.0'
servers:
  - url: https://unogsng.p.rapidapi.com/
security:
  - API-Key: []
tags:
- name: Static
- name: Search
- name: Details
paths:
  /search:
    get:
      summary: Search titles
      description: Search for Netflix titles based on a variety of parameters.
      operationId: TitleSearch
      parameters:
        - name: query
          in: query
          description: The query.
          schema:
            type: integer
            x-ms-summary: Query
          x-ms-summary: Query
        - name: type
          in: query
          description: The type.
          schema:
            type: integer
            x-ms-summary: Type
          x-ms-summary: Type
        - name: genrelist
          in: query
          description: The list of genres.
          schema:
            type: integer
            x-ms-summary: Genre List
          x-ms-summary: Genre List
        - name: countrylist
          in: query
          description: The country list.
          schema:
            type: string
            x-ms-summary: Country List
          x-ms-summary: Country List
        - name: start_year
          in: query
          description: The start year.
          schema:
            type: integer
            x-ms-summary: Start Year
          x-ms-summary: Start Year
        - name: end_year
          in: query
          description: The end year.
          schema:
            type: integer
            x-ms-summary: End Year
          x-ms-summary: End Year
        - name: audio
          in: query
          description: The audio.
          schema:
            type: string
            x-ms-summary: Audio
          x-ms-summary: Audio
        - name: audiosubtitle_andor
          in: query
          description: The audio and/or subtitle.
          schema:
            type: string
            x-ms-summary: Audio and/or Subtitle
          x-ms-summary: Audio and/or Subtitle
        - name: subtitle
          in: query
          description: The subtitle.
          schema:
            type: string
            x-ms-summary: Subtitle
          x-ms-summary: Subtitle
        - name: country_andorunique
          in: query
          description: The unique country.
          schema:
            type: string
            x-ms-summary: Unique Country
          x-ms-summary: Unique Country
        - name: orderby
          in: query
          description: The order by.
          schema:
            type: string
            x-ms-summary: Order
          x-ms-summary: Order
        - name: limit
          in: query
          description: The limit.
          schema:
            type: integer
            x-ms-summary: Limit
          x-ms-summary: Limit
        - name: offset
          in: query
          description: The offset.
          schema:
            type: integer
            x-ms-summary: Offset
          x-ms-summary: Offset
      responses:
        '200':
          description: default
          content:
            '*/*':
              schema:
                type: object
                properties:
                  results:
                    title: Results
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          title: ID
                          type: integer
                          description: The unique identifier.
                          format: int32
                        title:
                          title: Title
                          type: string
                          description: The title.
                        img:
                          title: Cover Image
                          type: string
                          description: The cover image.
                        vtype:
                          title: Type
                          type: string
                          description: The type.
                        nfid:
                          title: Netflix ID
                          type: integer
                          description: The Netflix unique identifier.
                          format: int32
                        synopsis:
                          title: Synopsis
                          type: string
                          description: The synopsis.
                        avgrating:
                          title: Average Rating
                          type: number
                          description: The average rating.
                          format: float
                        year:
                          title: Year
                          type: integer
                          description: The year.
                          format: int32
                        runtime:
                          title: Runtime
                          type: integer
                          description: The runtime.
                          format: int32
                        imdbid:
                          title: IMDB ID
                          type: string
                          description: The IMDB unique identifier.
                        poster:
                          title: Poster
                          type: string
                          description: The poster.
                        imdbrating:
                          title: IMDB Rating
                          type: number
                          description: The IMDB rating.
                          format: float
                        top250:
                          title: Top 250
                          type: integer
                          description: The top 250 position.
                          format: int32
                        top250tv:
                          title: Top 250 TV
                          type: integer
                          description: The top 250 TV position.
                          format: int32
                        clist:
                          title: Country List
                          type: string
                          description: The list of countries available.
                        titledate:
                          title: Title Date
                          type: string
                          description: The title date.
                  total:
                    title: Total
                    type: integer
                    description: The total number.
                    format: int32
                  elapse:
                    title: Elapse
                    type: number
                    description: The number elapse.
                    format: float
      tags:
        - Search
  /people:
    get:
      summary: Search people
      description: Search for Netflix People by name (returns person id for searches)
      operationId: PeopleSearch
      parameters:
        - name: netflix_id
          in: query
          description: The Netflix unique identifier.
          schema:
            type: integer
            x-ms-summary: Netflix ID
          x-ms-summary: Netflix ID
        - name: offset
          in: query
          description: The offset.
          schema:
            type: integer
            x-ms-summary: Offset
          x-ms-summary: Offset
        - name: name
          in: query
          description: The name.
          schema:
            type: string
            x-ms-summary: Name
          x-ms-summary: Name
        - name: limit
          in: query
          description: The limit.
          schema:
            type: integer
            x-ms-summary: Limit
          x-ms-summary: Limit
      responses:
        '200':
          description: default
          content:
            '*/*':
              schema:
                type: object
                properties:
                  Object:
                    title: Object
                    type: object
                    properties:
                      total:
                        title: Total
                        type: integer
                        description: The total.
                        format: int32
                      limit:
                        title: Limit
                        type: integer
                        description: The limit.
                        format: int32
                      offset:
                        title: Offset
                        type: integer
                        description: The offset.
                        format: int32
                  results:
                    title: Results
                    type: array
                    items:
                      type: object
                      properties:
                        netflix_id:
                          title: Netflix ID
                          type: integer
                          description: The Netflix unique identifier.
                          format: int32
                        full_name:
                          title: Full Name
                          type: string
                          description: The full name.
                        person_type:
                          title: Person Type
                          type: string
                          description: The person type.
                        title:
                          title: Title
                          type: string
                          description: The title.
      tags:
        - Search
  /titlesdel:
    get:
      summary: Search deleted titles
      description: Retrieves deleted titles by title name or country.
      operationId: DeletedSearch
      parameters:
        - name: limit
          in: query
          description: The limit.
          schema:
            type: integer
            x-ms-summary: Limit
          x-ms-summary: Limit
        - name: offset
          in: query
          description: The offset.
          schema:
            type: integer
            x-ms-summary: Offset
          x-ms-summary: Offset
        - name: country_list
          in: query
          description: The country list.
          schema:
            type: string
            x-ms-summary: Country List
          x-ms-summary: Country List
        - name: date
          in: query
          description: The date.
          schema:
            type: string
            x-ms-summary: Date
          x-ms-summary: Date
        - name: netflix_id
          in: query
          description: The Netflix unique identifier.
          schema:
            type: integer
            x-ms-summary: Netflix ID
          x-ms-summary: Netflix ID
      responses:
        '200':
          description: default
          content:
            '*/*':
              schema:
                type: object
                properties:
                  Object:
                    title: Object
                    type: object
                    properties:
                      total:
                        title: Total
                        type: integer
                        description: The total.
                        format: int32
                      limit:
                        title: Limit
                        type: integer
                        description: The limit.
                        format: int32
                      offset:
                        title: Offset
                        type: integer
                        description: The offset.
                        format: int32
                  results:
                    title: Results
                    type: array
                    items:
                      type: object
                      properties:
                        netflix_id:
                          title: Netflix ID
                          type: integer
                          description: The Netflix unique identifier.
                          format: int32
                        country_id:
                          title: Country ID
                          type: integer
                          description: The country unique identifier.
                          format: int32
                        title:
                          title: Title
                          type: string
                          description: The title.
                        delete_date:
                          title: Delete Date
                          type: string
                          description: The delete date.
                        country_code:
                          title: Country Code
                          type: string
                          description: The country code.
      tags:
        - Search
  /genres:
    get:
      summary: Get genres
      description: Returns a list of Netflix genres
      operationId: Genres
      responses:
        '200':
          description: default
          content:
            '*/*':
              schema:
                type: object
                properties:
                  results:
                    title: Results
                    type: array
                    items:
                      type: object
                      properties:
                        netflix_id:
                          title: Netflix ID
                          type: integer
                          description: The Netflix unique identifier.
                          format: int32
                        genre:
                          title: Genre
                          type: string
                          description: The genre.
      tags:
        - Static
  /countries:
    get:
      summary: Get countries
      description: Retrieves a list of supported countries.
      operationId: Countries
      responses:
        '200':
          description: default
          content:
            '*/*':
              schema:
                type: object
                properties:
                  results:
                    title: Results
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          title: ID
                          type: integer
                          description: The unique identifier.
                          format: int32
                        country:
                          title: Country
                          type: string
                          description: The country.
                        countrycode:
                          title: Country code
                          type: string
                          description: The country code.
                        expiring:
                          title: Expiring
                          type: integer
                          description: The expiring.
                          format: int32
                        nl7:
                          title: NL7
                          type: integer
                          description: The NL7.
                          format: int32
                        tvids:
                          title: TV ID
                          type: integer
                          description: The TV unique identifier.
                          format: int32
                        tmovs:
                          title: Top Movies
                          type: integer
                          description: The top movies position.
                          format: int32
                        tseries:
                          title: Top Series
                          type: integer
                          description: The top series position.
                          format: int32
      tags:
        - Static
  /title:
    get:
      summary: Get title details
      description: Retrieves the details associated with a title.
      operationId: TitleDetail
      parameters:
        - name: netflixid
          in: query
          description: The Netflix unique identifier.
          required: true
          schema:
            type: integer
            x-ms-summary: Netflix ID
          x-ms-summary: Netflix ID
        - name: imdbid
          in: query
          description: The IMDB unique identifier.
          required: true
          schema:
            type: integer
            x-ms-summary: IMDB ID
          x-ms-summary: IMDB ID
      responses:
        '200':
          description: default
          content:
            '*/*':
              schema:
                type: object
                properties:
                  title:
                    title: Title
                    type: string
                    description: The title.
                  maturity_label:
                    title: Maturity Label
                    type: string
                    description: The maturity label.
                  maturity_level:
                    title: Maturity Level
                    type: string
                    description: The maturity level.
                  synopsis:
                    title: Synopsis
                    type: string
                    description: The synopsis.
                  title_type:
                    title: Title Type
                    type: string
                    description: The title type.
                  default_image:
                    title: Default Image
                    type: string
                    description: The default image.
                  large_image:
                    title: Large Image
                    type: string
                    description: The large image.
                  netflix_id:
                    title: Netflix ID
                    type: string
                    description: The Netflix unique identifier.
                  start_date:
                    title: Start Date
                    type: string
                    description: The start date.
                  latest_date:
                    title: Latest Date
                    type: string
                    description: The latest date.
                  year:
                    title: Year
                    type: string
                    description: The year.
                  poster:
                    title: Poster
                    type: string
                    description: The poster.
                  runtime:
                    title: Runtime
                    type: string
                    description: The runtime.
                  awards:
                    title: Awards
                    type: string
                    description: The awards.
                  origin_country:
                    title: Origin Country
                    type: string
                    description: The country of origin.
                  rating:
                    title: Rating
                    type: string
                    description: The rating.
                  alt_id:
                    title: Alt ID
                    type: string
                    description: The alternative unique identifier.
                  alt_plot:
                    title: Alt Plot
                    type: string
                    description: The alternative plot.
                  alt_metascore:
                    title: Alt Metascore
                    type: string
                    description: The alternative metascore.
                  alt_votes:
                    title: Alt Votes
                    type: string
                    description: The alternative votes.
                  alt_runtime:
                    title: Alt Runtime
                    type: string
                    description: The alternative runtime.
                  alt_image:
                    title: Alt Image
                    type: string
                    description: The alternative image.
      tags:
        - Details
  /titlecountries:
    get:
      summary: Get title country
      description: Retrieves the country and language information associated with a title.
      operationId: Title Countries
      parameters:
        - name: netflixid
          in: query
          description: The Netflix unique identifier.
          required: true
          schema:
            type: integer
            x-ms-summary: Netflix ID
          x-ms-summary: Netflix ID
      responses:
        '200':
          description: default
          content:
            '*/*':
              schema:
                type: object
                properties:
                  Object:
                    title: Object
                    type: object
                    properties:
                      total:
                        title: Total
                        type: integer
                        description: The total.
                        format: int32
                      limit:
                        title: Limit
                        type: integer
                        description: The limit.
                        format: int32
                      offset:
                        title: Offset
                        type: integer
                        description: The offset.
                        format: int32
                  results:
                    title: Results
                    type: array
                    items:
                      type: object
                      properties:
                        country_code:
                          title: Country Code
                          type: string
                          description: The country code.
                        country:
                          title: Country
                          type: string
                          description: The country.
                        season_detail:
                          title: Season Detail
                          type: string
                          description: The season detail.
                        expire_date:
                          title: Expire Date
                          type: string
                          description: The expire date.
                        new_date:
                          title: New Date
                          type: string
                          description: The new date.
                        audio:
                          title: Audio
                          type: string
                          description: The audio.
                        subtitle:
                          title: Subtitle
                          type: string
                          description: The subtitle.
      tags:
        - Details
  /titlegenres:
    get:
      summary: Get title genres
      description: Retrieves all genres associated with a title
      operationId: TitleGenre
      parameters:
        - name: netflixid
          in: query
          description: The Netflix unique identifier.
          required: true
          schema:
            type: integer
            x-ms-summary: Netflix ID
          x-ms-summary: Netflix ID
      responses:
        '200':
          description: default
          content:
            '*/*':
              schema:
                type: object
                properties:
                  Object:
                    title: Object
                    type: object
                    properties:
                      total:
                        title: Total
                        type: integer
                        description: The total.
                        format: int32
                      limit:
                        title: Limit
                        type: integer
                        description: The limit.
                        format: int32
                      offset:
                        title: Offset
                        type: integer
                        description: The offset.
                        format: int32
                  results:
                    title: Results
                    type: array
                    items:
                      type: object
                      properties:
                        genre_id:
                          title: Genre ID
                          type: integer
                          description: The genre unique identifier.
                          format: int32
                        genre:
                          title: Genre
                          type: string
                          description: The genre.
      tags:
        - Details
  /episodes:
    get:
      summary: Get title episodes
      description: Retrieves all episodes associated with a title
      operationId: TitleEpisode
      parameters:
        - name: netflixid
          in: query
          description: The Netflix unique identifier.
          required: true
          schema:
            type: integer
            x-ms-summary: Netflix ID
          x-ms-summary: Netflix ID
        - name: episodeid
          in: query
          description: The episode unique identifier.
          schema:
            type: integer
            x-ms-summary: Episode ID
          x-ms-summary: Episode ID
        - name: seasonid
          in: query
          description: The season unique identifier.
          required: true
          schema:
            type: integer
            x-ms-summary: Season ID
          x-ms-summary: Season ID
      responses:
        '200':
          description: default
          content:
            '*/*':
              schema:
                type: object
                properties:
                  Object:
                    title: Object
                    type: object
                    properties:
                      total:
                        title: Total
                        type: integer
                        description: The total.
                        format: int32
                      limit:
                        title: Limit
                        type: integer
                        description: The limit.
                        format: int32
                      offset:
                        title: Offset
                        type: integer
                        description: The offset.
                        format: int32
                  results:
                    title: Results
                    type: array
                    items:
                      type: object
                      properties:
                        netflix_id:
                          title: Netflix ID
                          type: integer
                          description: The Netflix unique identifier.
                          format: int32
                        episode_id:
                          title: Episode ID
                          type: integer
                          description: The episode unique identifier.
                          format: int32
                        season_id:
                          title: Season ID
                          type: integer
                          description: The season unique identifier.
                          format: int32
                        episode_number:
                          title: Episode Number
                          type: string
                          description: The episode number.
                        season_number:
                          title: Season Number
                          type: string
                          description: The season number.
                        synopsis:
                          title: Synopsis
                          type: string
                          description: The synopsis.
                        title:
                          title: Title
                          type: string
                          description: The title.
                        image:
                          title: Image
                          type: string
                          description: The image.
      tags:
        - Details
  /images:
    get:
      summary: Get title images
      description: Retrieves all images associated with a title.
      operationId: TitleImage
      parameters:
        - name: netflixid
          in: query
          description: The Netflix unique identifier.
          required: true
          schema:
            type: integer
            x-ms-summary: Netflix ID
          x-ms-summary: Netflix ID
        - name: limit
          in: query
          description: The limit.
          schema:
            type: integer
            x-ms-summary: Limit
          x-ms-summary: Limit
        - name: offset
          in: query
          description: The offset.
          schema:
            type: integer
            x-ms-summary: Offset
          x-ms-summary: Offset
      responses:
        '200':
          description: default
          content:
            '*/*':
              schema:
                type: object
                properties:
                  Object:
                    title: Object
                    type: object
                    properties:
                      total:
                        title: Total
                        type: integer
                        description: The total.
                        format: int32
                      limit:
                        title: Limit
                        type: integer
                        description: The limit.
                        format: int32
                      offset:
                        title: Offset
                        type: integer
                        description: The offset.
                        format: int32
                  results:
                    title: Results
                    type: array
                    items:
                      type: object
                      properties:
                        url:
                          title: URL
                          type: string
                          description: The URL address.
                        image_type:
                          title: Image Type
                          type: string
                          description: The image type.
      tags:
        - Details
  /expiring:
    get:
      summary: Get expiring titles
      description: Retrieves a list of expiring titles.
      operationId: TitleExpiring
      parameters:
        - name: countrylist
          in: query
          description: The country list.
          required: true
          schema:
            type: integer
            x-ms-summary: Country List
          x-ms-summary: Country List
        - name: limit
          in: query
          description: The limit.
          schema:
            type: integer
            x-ms-summary: Limit
          x-ms-summary: Limit
        - name: offset
          in: query
          description: The offset.
          schema:
            type: integer
            x-ms-summary: Offset
          x-ms-summary: Offset
      responses:
        '200':
          description: default
          content:
            '*/*':
              schema:
                type: object
                properties:
                  results:
                    title: Results
                    type: array
                    items:
                      type: object
                      properties:
                        netflixid:
                          title: Netflix ID
                          type: integer
                          description: The Netflix unique identifier.
                          format: int32
                        expiredate:
                          title: Expire Date
                          type: string
                          description: The expire date.
                        countrycode:
                          title: Country Code
                          type: string
                          description: The country code.
                        title:
                          title: Title
                          type: string
                          description: The title.
                  total:
                    title: Total
                    type: integer
                    description: The total number.
                    format: int32
                  elapse:
                    title: Elapse
                    type: number
                    description: The number elapse.
                    format: float
      tags:
        - Details
components:
  securitySchemes:
    API-Key:
      type: apiKey
      name: X-RapidAPI-Key
      in: header
x-ms-connector-metadata:
  - propertyName: Website
    propertyValue: https://rapidapi.com/unogs/api/unogsng/
  - propertyName: Privacy policy
    propertyValue: https://rapidapi.com/privacy/
  - propertyName: Categories
    propertyValue: Lifestyle and Entertainment
